.App {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 30px 400px 1fr;
  grid-gap: 16px;
  margin: 0 auto;
  width: 90vw;
}

.App-header {
  grid-column: span 2;
  height: 40px;
  /* background: #BADA55; */
}

.cal-traverser {
  display: flex;
  justify-content: space-between;
}

.calendar--table {
  width: 100%;
}

.calendar--table td {
  position: relative;
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.calendar--table td.clicked {
  color: #fff;
  background: tomato;
}

.calendar--table td.today {
  font-weight: 800;
  /* color: lightseagreen; */
}

.calendar--table td:hover {
  background: #BADA55;
}

.calendar--table td.inactive {
  color: #ADADAD;
}

.day--appointment {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid lightseagreen;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: rotate(-45deg);
}

.App-appointments--form {
  grid-row: span 2;
}

.App-appointments--form fieldset {
  margin-bottom: 16px;
}

.App-appointments--form .form-group {
  display: flex;
  flex-flow: column;
  margin-bottom: 8px;
}

/* .App-appointments--form input,
.App-appointments--form select,
.App-appointments--form textarea {
  border: 0;
  border-bottom: 1px solid #adadad;
} */

.App-appointments--form .form-group.submit {
  display: flex;
  align-items: center;
}

.App-appointments--form .form-group.submit input[type=submit] {
  display: none;
  width: 150px;
  height: 40px;
}

.App-appointments--list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-x: auto;
}

.App-appointments--list li {
  margin-bottom: 16px;
  cursor: pointer;
}

/* .App-appointments--list li:hover fieldset {
  background: #adadad;
  color: #fff;
} */

.App-appointments--list_add button {
  width: 100%;
  height: 40px;
}